# Dependencies
**/node_modules
**/.pnp
.pnp.js

# Testing
**/coverage
**/test_output*.txt

# Production
**/build
**/dist
**/out

# Next.js
**/.next/
**/.vercel

# Environment Variables
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/*.log
**/lint_*.txt
**/build_error.*

# IDEs
**/.idea
**/.vscode
**/.DS_Store
**/*.swp
**/*.swo

# Temporary
**/tmp
**/temp
**/.cache

# Legacy / Backups
_legacy_backup/

